.add {
  height: 36px !important;
  width: 36px !important;
}

.header {
  margin-bottom: 10px;
}

.synonymHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.setup {
  width: 528px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.synonyms {
  border: 1px solid #d9d9d9;
  border-radius: calc(0.5rem - 2px);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.synonym {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  justify-content: space-between;

  &:hover {
    background-color: var(--slate-100);

    .synonymActions {
      opacity: 1;
    }
  }
}

.synonymActions {
  opacity: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.synonymAction {
  cursor: pointer;
}

.itemHeader {
  margin-bottom: 12px;
}

