.card {
  padding: 20px;
  width: 100%;
}

.imagesWrap {
  display: flex;
  gap: 20px;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagePreview {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-height: 100px;
  object-fit: contain;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #eeeeee;
}

.image {
  min-height: 480px;
  max-height: 480px;
  min-width: 480px;
  max-height: 480px;
  border-radius: 10px;
  object-fit: contain;
  border: 1px solid #eeeeee;
}

.topBlock {
  display: flex;
  gap: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.info {
  flex-grow: 1;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  gap: 16px;
}

.cardType {
  border-radius: 10px;
  border: 1px solid #eee;
  padding: 6px 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.openSource {
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  padding: 6px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
}

.openMalevich {
  border-radius: 10px;
  background-color: #d84674;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  color: white;
}

.activeBtn {
  background-color: rgba(255, 117, 31, 1);
  border-radius: 10px;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  height: fit-content;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cats {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}

.cat {
  border-radius: 8px;
  background-color: rgba(255, 117, 31, 0.12);
  color: #ff751f;
  padding: 6px 10px;
  font-weight: 500;
}

.textBlock {
  margin-bottom: 20px;
}

.blockTitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.chars {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.charsTitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  font-weight: 600;
}

.char {
  width: calc(50% - 10px);
  display: flex;
  gap: 4px;
}

.charName {
  color: #71717a;
  font-size: 16px;
  line-height: 28px;
}

.dots {
  flex-grow: 1;
  border-bottom: 1px dotted #71717a;
  height: 20px;
}

.charValue {
  color: #09090b;
  font-size: 16px;
  line-height: 28px;
}

.imagePreviewSelected {
  opacity: 0.4;
}

.grade {
  margin-top: 20px;
}

.gradeTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.grades {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;

  :global {
    .ant-form {
      flex-grow: 1;
    }
  }
}

.singleGrade {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #eee;

  :global {
    .ant-form-item {
      margin-bottom: 0;
      min-height: unset;
    }

    .ant-form-item-control-input {
      min-height: unset;
    }
  }
}

.gradeTop {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.gradeHeader {
  display: flex;
  gap: 20px;
  width: 100%;
}

.gradeAuthor {
  display: flex;
  gap: 14px;
  align-items: flex-end;
}

.gradeImg {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.gradeRole {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
}

.bottomBlock {
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.gradeName {
  font-size: 14px;
  font-weight: 500;
}

.gradeDate {
  align-self: flex-end;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.gradeEdit {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  opacity: 0.6;
  border-radius: 4px;
  padding: 4px 2px;
  transition: background-color 0.15s ease;
}

.gradeEditing {
  background-color: #eee;
  transition: background-color 0.15s ease;
}

.stars {
  display: flex;
  direction: rtl;
}

.starWrap {
  padding: 0 4px;
}

.star {
  cursor: pointer;
}

.activeStar {
  color: #ff751f;
}

.passiveStar {
  color: rgba(0, 0, 0, 0.24);
}

.starEditing {
  &:hover {
    color: #ff751f;

    & ~ .passiveStar {
      color: #ff751f;
    }
  }
}

.gradeStars {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-top: 12px;
}

.gradeValue {
  font-size: 16px;
  font-weight: 500;
}

.gradeInclude {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 6px;
  border-radius: 6px;
  background-color: rgba(255, 117, 31, 0.12);
  color: #ff751f;
  margin-left: auto;
}

.gradeCheckboxes {
  display: flex;
  gap: 20px;
}

.gradeCheckbox {
  display: flex;
  gap: 6px;
  font-weight: 500;
}

.gradeProp {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
  align-items: center;
}

.gradeBlock {
  padding-bottom: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
}

.leafInput {
  position: relative;
  border: 1px solid rgba(203, 213, 225, 0.4);
  border-radius: 6px;
  flex-grow: 1;
  max-height: 42px;
  min-width: 90px;
}

.leafInputLabel {
  color: #93939f;
  font-size: 11px;
  position: absolute;
  margin-left: 12px;
  top: 2px;
}

.input {
  margin-bottom: 12px;
}

.regenCheck {
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.delete {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  margin-top: 12px;
  margin-left: -4px;
  cursor: pointer;
}

.gradeTrash {
  height: 16px;
}

.link {
  font-family: monospace, monospace;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
}

.linkArrow {
  padding: 0px 4px;
  border-radius: 5px;
  color: #ff751f;
  background-color: rgba(255, 117, 31, 0.12);
  height: 32px;
  width: 32px;
}

.time {
  margin-bottom: 12px;
  opacity: 0.6;
}

.backBlock {
  display: flex;
  align-items: center;
  gap: 24px;
}

.tableBlock {
  margin-top: 24px;
}

.tableHeader {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

